<a href="https://colab.research.google.com/github/KartikDhok/1st/blob/master/MLProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
dataset = pd.read_csv(r"Bank_Personal_Loan_Modelling.csv")

In [ ]:
#to display the top 10 row
dataset.head(10)

In [ ]:
#to display the bottom 10 row
dataset.tail(10)

In [ ]:
#To display datatype of each column and also display the non-null rows for each column.
dataset.info()

In [ ]:
#To display the summary stat which include count , mean , std,min,max,etc.
dataset.describe()

In [ ]:
#To display how many null values are present in each column
dataset.isnull().sum()

In [ ]:
experience = dataset['Experience']
age=dataset['Age']
correlation=experience.corr(age)
correlation

In [ ]:
dataset = dataset.drop(['ID' , 'Experience'],axis=1 )
dataset.head(10)

In [ ]:
# number of unique in each column
dataset.nunique()

In [ ]:
# number of unique in each column
dataset.nunique()

In [ ]:
dataset.drop('ZIP Code' , axis = 1)

In [ ]:
## Number of People with 0 mortgage
## There are 3462 peoples with 0 mortgageout of 5000(making it skewed)
(dataset.Mortgage == 0).sum()

In [ ]:
## Number of people with zero credit card spending per month
##  There are 106 people with zero average credit card spending per month
(dataset.CCAvg == 0).sum()

In [ ]:
dataset.Family.value_counts()

In [ ]:
dataset.Education.value_counts()

In [ ]:
dataset['Securities Account'].value_counts()

In [ ]:
dataset['CreditCard'].value_counts()

In [ ]:
dataset.Online.value_counts()

In [ ]:
## Univariate Analysis
## Age seems to have symmetric Distribution
sns.distplot(dataset.Age);

In [ ]:
## Income is right skewed Distribution
sns.distplot(dataset.Income);

In [ ]:
## Credit Card average is right skewed Distribution
sns.distplot(dataset.CCAvg);

In [ ]:
## Mortgage column seems highly skewed
sns.distplot(dataset.Mortgage);

In [ ]:
sns.countplot(dataset.Family);

In [ ]:
sns.countplot(dataset.Education);

In [ ]:
sns.FacetGrid(dataset,hue="Personal Loan",size=5).map(plt.scatter,"Income","Education").add_legend()
plt.show()

In [ ]:
## Univariate Analysis
## 9.6 % all the applicats get approved for personal loan
tempDF =pd.DataFrame(dataset["Personal Loan"].value_counts()).reset_index()
tempDF.column = ["Lables","Personal Loan"]
figl, axl = plt.subplots(figsize=(10,8))
explode = (0, 0.15)
axl.pie(tempDF["Personal Loan"], explode=explode, autopct='%1.1f%%', shadow=True, startangle=70)
axl.axis('equal') # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title("Personal Loan Percentage")
plt.show()

In [ ]:
## It seems the costomers whose has more income is granted loan across each education level
sns.boxplot(x='Education' ,y= 'Income' ,hue='Personal Loan' ,data=dataset);

In [ ]:
## Most of the people having Securities Account and don't have personal loan
sns.countplot(x="Securities Account", data=dataset,hue="Personal Loan");

In [ ]:
## after dropping Experience column earlier doesn't seem to be significant correlation between other variables except
## credit card average and income
fig,ax = plt.subplots(figsize=(15,10))
sns.heatmap(dataset.corr(),cmap='plasma' , annot=True) ;

In [ ]:
sns.pairplot(dataset)

In [ ]:
data_X = dataset.loc[:,dataset.columns != "Personal Loan"]
dara_Y = dataset[["Personal Loan"]]

In [ ]:
from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer(method="yeo-johnson" , standardize=False)
pt.fit(dataset["Income"].values.reshape(-1, 1))
temp = pt.transform(dataset["Income"].values.reshape(-1, 1))
sns.distplot(temp);

In [ ]:
pt = PowerTransformer(method="yeo-johnson", standardize=False)
pt.fit(dataset["CCAvg"].values.reshape(-1, 1))
temp = pt.transform(dataset["CCAvg"].values.reshape(-1, 1))
sns.distplot(temp);

In [ ]:
dataset["Mortgage_Int"] = pd.cut(dataset["Mortgage"], bins=[0, 100, 200, 300, 400, 500, 600, 700], labels=[0, 1, 2, 3, 4, 5, 6], include_lowest=True)
dataset.drop("Mortgage" , axis=1, inplace=True)

In [ ]:
dataset.head()

In [ ]:
X = dataset.drop(['Personal Loan'], axis=1)
y = dataset['Personal Loan'].values

X.shape, y.shape

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify= y,random_state=17)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
class_names = ['wont take loan', 'take loan']

In [ ]:
#importing required libraries
from sklearn.metrics import confusion_matrix , recall_score , precision_score , f1_score , roc_auc_score , accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [ ]:
# fit Model X_train and Y_train
Model = LogisticRegression(solver='liblinear')
Model.fit(X_train,y_train)

In [ ]:
log_reg = LogisticRegression(C=1.0, max_iter=200)
log_reg.fit(X_train, y_train)

In [ ]:
# Accuracy score of Logistic Regression Model.
pred_X_test = Model.predict(X_test)
pred_X_train = Model.predict(X_train)
acc_X_train = accuracy_score(y_train,pred_X_train)
acc_X_test = accuracy_score(y_test,pred_X_test)
print("accuracy on X_train : {: .8f}" .format(acc_X_train))
print("accuracy on X_test : {: .8f}" .format(acc_X_test))

**Business understanding of model**

In the first step of this project we imported various libraries and our data. Than we found out various things about our data

1)We have to make the model to predict whether a person will take personal loan or not

2)We found that age and experience are highly correlated so we droped the experience column.

3)ID and ZIP code were not contributing factors for a Lerson to take loan so we dropped them

4)The Income and CCAvg column were left skewed so we applied Power transformation to them to normalize them.

5)The mortgage column was also skewed but since it was discrete so rather than power transformation, we use binning technique
After this we used several models to make predictions.